<div class="container-fluid marketing">
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				<%=t('app.index.marketing.title')%>
			</h2>
			<p class="text-center">
				<%=t('app.index.marketing.description1')%>
			</p>
			<p class="text-center lead">
				<%=t('app.index.marketing.description2')%>
			</p>
		</div>
	</div>
</div>