<div class="panel panel-default">
	<div class="panel-heading">
		<h4>
			<%= t('app.signup.title.isNew') %><small><%= t('app.signup.title.signup') %></small>
		</h4>
	</div>
	<div class="panel-body">
		<%- include form %>
	</div>
</div>